{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-padding' %}
{%- endstyle -%}

<div class="contact-form section-{{ section.id }}-padding">
  <div class="container">
    <div class="contact-form__container contact-form__container--{{ section.settings.position }} ">
      <div class="contact-form__text contact-form__text--{{ section.settings.layout }}">
        <div class="contact-form__wrapper">
          {%- if section.settings.heading != blank -%}
            <h2 class="contact-form__title h3">
              {{ section.settings.heading }}
            </h2>
          {%- endif -%}
          {%- form 'contact', id: 'ContactForm' -%}
            {%- if form.posted_successfully? -%}
              <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
                {% render 'icon-success' %}
                {{ 'templates.contact.form.post_success' | t }}
              </div>
            {%- elsif form.errors -%}
            {%- endif -%}
            <div class="contact-form__fields">
              <div class="field field__name">
                <input
                  class="field__input"
                  autocomplete="name"
                  type="text"
                  id="ContactForm-name"
                  name="contact[name]"
                  placeholder="{{ 'templates.contact.form.name' | t }}"
                >
                <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
              </div>

              <div class="field field--with-error">
                <input
                  class="field__input"
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  name="contact[email]"
                  placeholder="{{ 'templates.contact.form.email' | t }}"
                  required
                >
                <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }}</label>
                {%- if form.errors contains 'email' -%}
                  <small class="contact-form__field-error" id="ContactForm-email-error">
                    {{- form.errors.messages.email -}}
                  </small>
                {%- endif -%}
              </div>

              <div class="field">
                <input
                  type="tel"
                  id="ContactForm-phone"
                  class="field__input"
                  autocomplete="tel"
                  name="contact[phone]"
                  placeholder="{{ 'templates.contact.form.phone' | t }}"
                >
                <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
              </div>

              <div class="field">
                <input
                  type="number"
                  id="ContactForm-quantity"
                  class="field__input"
                  name="contact[quantity]"
                  placeholder="Quantity"
                  required
                >
                <label class="field__label" for="ContactForm-quantity">Quantity</label>
              </div>

              <div class="field">
                <textarea
                  rows="4"
                  id="ContactForm-address"
                  class="text-area field__input"
                  name="contact[address]"
                  placeholder="Shipping Address"
                  required
                ></textarea>
                <label class="field__label" for="ContactForm-address">Shipping Address</label>
              </div>

              <div class="field">
                <textarea
                  rows="4"
                  id="ContactForm-instructions"
                  class="text-area field__input"
                  name="contact[instructions]"
                  placeholder="Special Instructions"
                ></textarea>
                <label class="field__label" for="ContactForm-instructions">Special Instructions</label>
              </div>

              <div class="contact-form__bottom">
                <button type="submit" class="button button--primary">{{ 'templates.contact.form.send' | t }}</button>
              </div>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
